* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #000;
	font-size: 14px;
	line-height: 150%;
	color: #363636;
	/*background-color: #E5E5E5;*/
	
}

.no-scroll {
	overflow: hidden;
}

.conteiner {
	max-width: 1130px;
	margin: 0 auto;
	position: relative;
}

.bold {
	font-weight: 700;
}

@media (max-width: 1200px) {
	.conteiner {
		width: 80%;
	}
}

@media (max-width: 576px) {
	.conteiner {
		width: 95%;
	}
}

/* ---------------------   header -----------------------  */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d4d4d4;
	padding-left: 34px;
}

.header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-logo::after {
	content: "";
	width: 1px;
	height: 104px;
	display: inline-block;
	background-color: #d4d4d4;
	margin-left: 34px;
}

.m-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	z-index: 100;
}

.search-input {
	background-image: url(../img/search-icon.svg);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 38px;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #a5a5a5;
	margin-left: 34px;
}

.search-input:focus {
	outline-color: #d4d4d4;
}

.navigation {
	margin-right: 44px;
	margin-left: auto;
}

.navigation-lists, .button-group {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.navigation-link {
	position: relative;
	text-decoration: none;
	font-size: 18px;
	line-height: 21px;
	color: #363636;
	margin-right: 18px;
}

.navigation-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 1px;
	background-color: #000;
	margin-bottom: -3px;
	transition: width 0.2s;
}

.navigation-link:hover::after {
	width: 100%;
}

.button {
	font-size: 18px;
	line-height: 21px;
	border: none;
	cursor: pointer;
	padding-top: 41px;
	padding-bottom: 42px;
	transition: all 0.2s;
}

.sign-up {
	color: #5671f6;
	background-color: #fff;
	border-left: 1px solid #d4d4d4;
	padding-left: 44px;
	padding-right: 44px;
}

.sign-up:hover {
	background-color: #5671f6;
	color: #fff;
}

.login {
	background-color: #5671f6;
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
}

.login:hover {
	color: #5671f6;
	background-color: #fff;
}

.mobile-btn {
	display: none;
}

.m-menu-btn, .search-btn {
	padding: 5px;
	background-color: #fff;
	border: none;
	cursor: pointer;
}

.menu-line {
	display: block;
	width: 16px;
	height: 2px;
	background-color: #000;
	flex-basis: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 40px;
	transition: transform 0.2s linear;	
}

	.m-menu-btn.active .menu-line:nth-child(1) {
		transform: rotate(45deg) translate(0, 4px);
	}

	.m-menu-btn.active .menu-line:nth-child(2) {
		display: none;
	}

	.m-menu-btn.active .menu-line:nth-child(3) {
		transform: rotate(-45deg) translate(0, -3px);
	}

@media (max-width: 1200px) {
	.header-logo::after {
		height: 61px;
		margin-left: 20px;
	}

	.search-input {
		margin-left: 20px;
	}

	.navigation {
		margin-right: 20px;
	}

	.navigation-link {
		margin-right: 10px;
		font-size: 16px;
	}

	.sign-up {
		padding: 20px;
	}

	.login {
		padding: 20px 40px;
	}
}

@media (max-width: 991px) {
	.navigation {
		display: none;
	}

	.search-input {
		margin-right: auto;
	}
}

@media (max-width: 768px) {
	.header {
		height: 65px;
		padding-right: 34px;
	}

	.header-logo:after {
		display: none;
	}

	.m-menu {
		display: none;
		flex-direction: column;
		justify-content: space-around;
		position: fixed;
		left: 0;
		top: 65;
		right: 0;
		bottom: 0;
		background-color: #5671f6;
		height: calc(100% - 65px);
		padding: 5% 2% 3% 2%; 
	}

	.m-menu.active {
		display: flex;
	}

	.search-input {
		width: 260px;
		height: 50px;
		border-radius: 5px;
		border: none;
		background-image: none;
		margin: 0;
	}

	.navigation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}

	.navigation::after {
		content: "";
		display: block;
		width: 104px;
		height: 1px;
		background-color: #D4D4D4;
	}

	.navigation-lists {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
		margin-bottom: 50%;
	}

	.navigation-list {
		margin-right: 0;
		margin-bottom: 18px;
	}

	.navigation-link {
		color: #fff;
		font-size: 18px;
		line-height: 21px;
	}

	.navigation-link:last-child {
		margin-bottom: 0;
	}

	.navigation-link::after {
		background-color: #D4D4D4;
	}

	.button-group {
		height: auto;
		flex-direction: column;
	}

	.btn-group-lists {
		position: relative;
		text-align: center;
	}

	.button {
		font-size: 18px;
		line-height: 21px;
		padding: 10px 10px 15px;
	}

	.sign-up {
		background-color: transparent;
		color: #fff;
		border: none;
		
	}

	.login:hover {
		color: #fff;
		background-color: #5671f6;
	}

	.button::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 1px;
		background-color: #D4D4D4;
		margin-bottom: 10px;
		transition: width 0.2s;
	}

	.button:hover::after {
		width: 100%;
	}

	.mobile-btn {
	display: block;
}
}

/* ---------------------   section film -----------------------  */

.film {
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #D4D4D4;
}

.film-wrapper {
	display: flex;

}

.film-trailer {
	display: flex;
	flex-direction: column;
}

.poster {
	max-width: 358px;
	border-radius: 5px 5px 0 0;
}

.trailer-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 0 0 5px 5px;
	padding-top: 25px;
	padding-bottom: 25px;
	cursor: pointer;
	max-width: 358px;
	text-decoration: none;
}

.trailer-btn-icon {
	margin-right: 14px;
}


.film-text {
	margin-left: 60px;
}

.film-title {
	margin: 0 16px 16px 0;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
}

.film-subtitle {
	font-size: 18px;
	line-height: 21px;
	color: #A5A5A5;
	margin-bottom: 32px;
}

.film-description {
	max-width: 514px;
	margin-bottom: 50px;
}

.about-film {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 34px;
}

.about-text {
	flex-basis: 40%;
	margin: 0 40px 16px 0;
	padding: 0;
	display: flex;
	font-size: 16px;
	line-height: 19px;
}

.about-text-bold {
	font-weight: 700;
	width: 100px;
	font-weight: bold;
	margin: 0;
}

.about-text-reg {
	margin: 0;
}


.rating {
	display: flex;
	align-items: center;
}

.rating-counter {
	width: 100px;
	height: 100px;
	border: 1px solid #5671F6;
	border-radius: 10px;
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #5671F6;
}

.rating-description {
	margin-left: 28px;
}

.rating-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin: 0 12px 12px 0;
}

.reting-text {
	font-size: 16px;
	line-height: 19px;
	margin: 0 7px 7px 0;
}

@media (max-width: 1200px) {
	.about-text {
		flex-basis: 95%;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 17px;
	}
}

@media (max-width: 991px) {
	.film-title {
		font-size: 24px;
		line-height: 1.4;
	}

	.film-subtitle {
		margin-bottom: 20px;
	}

	.film-description, .about-film {
		margin-bottom: 30px;
	}
}

@media (max-width: 867px) {
	.film {
		padding-top: 50px;
		padding-bottom: 60px;
	}

	.film-wrapper {
		flex-wrap: wrap;
	}

	.film-text {
		order: -1;
		margin-bottom: 30px;
		margin-left: 0;
	}
}

@media (max-width: 576px) {
	.film-text {
		order: 1;
		margin-bottom: 0;
		margin-top: 30px;		
	}

	.film-title {
		font-size: 20px;
		margin-bottom: 12px;
	}

	.film-subtitle {
		font-size: 14px;
		margin-bottom: 26px;
	}

	.film-description {
		margin-bottom: 40px;
	}

	.film-trailer {
		width: 99%;
		margin: 0 auto;
	}
	.poster {
		width: 100%;
	}

	.about-text {
		margin-bottom: 16px;
	}

	.about-film {
		margin-bottom: 40px;
	}
}



/* ---------------------   cast -----------------------  */

.cast {
	padding-top: 70px;
	padding-bottom: 65px;
}

.tabs {
	display: flex;
	padding-bottom: 60px; 	
}

.section-title {
	font-size: 24px;
	line-height: 28px;
	color: #A5A5A5;
	margin-right: 30px;
	cursor: pointer;
}

.section-title.active {
	font-weight: 900;
	color: #363636;
}

.tabs-content {
	display: none;
	align-items: center;
	flex-wrap: wrap;
	visibility: hidden;
}

.tabs-content.visible {
	display: flex;
	visibility: visible;
}

.card {
	display: flex;
	align-items: center;
	flex-basis: 25%;
	margin-bottom: 35px;
}

.card-img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 20px;
}

.name {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #5671F6;
}

.en-name {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #A5A5A5;
}


@media (max-width: 1200px) {
	.card-img {
		width: 70px;
		height: 70px;
	}
}

@media (max-width: 991px) {
	.card {
		flex-basis: 50%;
	}

	.card-img {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 768px) {
	.cast {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

@media (max-width: 576px) {
	.tabs {
		padding-bottom: 45px;
	}

	.card {
		flex-basis: 95%;
	}

	.card-img {
		width: 60px;
		height: 60px;
	}
}

/* ---------------------   news -----------------------  */
.news {
	padding: 70px 0 100px;
	background: #F3F3F3;
}

.news-main-title {
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin: 0 0 65px;
}

.news-cards {
	margin: 0;
	padding: 0;
	list-style: none;
}

.news-card {
	background: #FFFFFF;
	border-radius: 5px;
	padding: 30px;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	width: 100%;
}

.news-date {
	margin: 0;
}

.news-title {
	margin: 0;
	margin-top: 14px;
}

.news-link {
	font-weight: 900;
	color: #000000;
	text-decoration: none;
}

.btn-next {
	display: none;
	background-color: transparent;
	border: none;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;
	width: 25px;
	height: 25px;
}

@media (max-width: 991px) {
	.news-card {
		/*margin-bottom: 20px;*/
	}
}

@media (max-width: 768px) {
	.news {
		padding: 50px 0 50px;
	}

	.news-card {
		padding-right: 40px;
	}

	.btn-next {
		display: flex;
	}
}

@media (max-width: 576px) {
	.news-card {
		/*margin-bottom: 0;*/
	}

	.swiper-container {
		width: 90%;
		margin-left: 0;
	}

}


/* ---------------------   footer -----------------------  */
.footer {
	padding: 30px 0 15px; 
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items:  baseline;
	flex-wrap: wrap;
}

.footer-copy {
	margin: 0; 
}

.footer-navigation .navigation-lists {
	flex-direction: row;
	margin-bottom: 0;
}

.footer-navigation .navigation-link {
	color: #363636;
	font-size: 16px;
}

.footer-navigation .navigation-link::after {
	background-color: #000;
}

@media (max-width: 576px) {
	.footer-wrapper {
		flex-direction: column;
	}

	.footer-navigation {
		margin-bottom: 10px;
		order: -1;
	}
}

